/Praktikum8 - Collection & Generic/LatihanNetBeansPBOE2/nbproject/private/
/Praktikum8 - Collection & Generic/LatihanNetBeansPBOE2/build/
/Praktkum11 - Modularisasi/PBOGUISimple/target/
/Praktkum11 - Modularisasi/jdbc/nbproject/private/
/Praktkum11 - Modularisasi/jdbc/build/
/Praktkum11 - Modularisasi/jdbc_mhs_service_GUI/nbproject/private/
/Praktkum11 - Modularisasi/jdbc_mhs_service_GUI/build/
